* {
    font-family: 'Source Sans Pro', sans-serif;
}
.head{
    background-color: rgb(236, 236, 236);
    padding: 0.1rem;
    
}

.head h1 {
    display: flex;
    justify-content: center;
    font-size: larger;
    
    

}

.flex-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem auto;
    
}

.flex-bar :hover {
    background-color: rgb(226, 226, 226);
}

.flex-item {
    justify-content: space-evenly;

    border: 0.25rem solid black;
    padding: 0.5rem 0.25rem;
    margin: auto 0.10rem;
    border-radius: 15%;
    color: black;
    background-color: white;
    text-decoration: none;

}

.tanitim-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tanitim-flex h2{
    font-size: xx-large;
    
}
.tanitim-flex p {
    margin: 0.25rem 3rem;
    font-size: larger;
    
}

.images-flex {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;

}

.banner-image {
    
    width: 40%;
    padding: 0.1rem;
    border: outset;
    
}

.images-vertical {
    display: flex;
    margin-top: 5rem;       
    flex-wrap: wrap;
    justify-content: center;
    
}
.images-vertical img{
    margin: 2%;
    width: auto;
    height: 22%;
    padding: 0.1rem;
    border: outset;

}

.images-vertical p {
    
    font-size: large;
    width: 21%;
    height: auto;
    margin:2%;
    padding: 0.1rem;
    border: outset;
}


footer nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.25rem solid black;
    padding: 0.5rem 0.25rem;
    margin: 1rem 0.10rem;
    font-size: large;
    color: black;
    background-color: white;
    text-decoration: none;

}
footer nav :hover {
    background-color: rgb(226, 226, 226);
}
@media (max-width:600px){
    .flex-bar{
        flex-direction: column;
        
    }
    .flex-item{
        display: flex;
        justify-content: center;
        border-radius: 10%;
    }   
    .banner-image{
        width: 80%;
    }
    .images-vertical p{
        width: 90%;
    }

}